{% extends "base_bootstrap.html" %}

{% block content %}
<style>
  label{
    color: #fff;
  }
  table{
    margin: 30px 0 10px 0;
  }
  td input{
    margin-left: 10px;
  }
</style>
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" class="btn btn-success">
    <input type="submit" onclick="window.location='{% url 'autos:all' %}' ; return false;" value="Cancel" class="btn btn-success">
  </form>
{% endblock %}